@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

/* ====================================
    Globals
===================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font: 400 16px/1.5 'Nunito', sans-serif;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.square {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(128, 128, 128, 0.623);
    margin-right: 2px;
}

.progress {
    width: 100%; 
}

.center {
    text-align: center;
}

.col-50 {
    flex: 0 1 48%;
}

.col-70 {
    flex: 0 1 70%;
}

.col-25 {
    flex: 0 1 24%;
}

.col-40 {
    flex: 0 1 39%;
}

.col-20 {
    flex: 0 1 19%;
}

/* ====================================
    Typography
===================================== */

h1,
h3 {
    font-weight: 700;
}

h2 {
    color: rgb(36, 36, 36);
    font-size: 32px;
    font-weight: 600;
}

h1 {
    font-size: 54px;
    color: #fff;
    line-height: 1.3;
}

p {
    font-weight: 700;
    color: rgba(36, 36, 36, 0.6);
}

h3 {
    font-size: 28px;
}

h4 {
    font-weight: 700;
    font-size: 24px;
    color: hsl(0,0%,15%);
}

/* ====================================
    links
===================================== */

a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
}

/* ====================================
    Button
===================================== */

.btn {
    padding: 12px 20px;
    border-radius: 28px;
    font-weight: 400;
    font-size: 20px;
    border: 2px solid #fff;
    display: inline-block;
}

.btn-pitch {
    padding: 12px 20px;
    border-radius: 28px;
    font-weight: 400;
    font-size: 16px;
    background-color: hsl(2,62%,50%);
    border: none;
    cursor: pointer;
}

.read-more {
    font-weight: 700;
    background-color: hsl(0,0%,94%);
    color: hsl(0,0%,56%);
}

/* ====================================
    Header
===================================== */

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.primary-nav {
    margin-left: -150px;
}

.primary-nav li {
    margin-right: 35px;
}

.social-connect li {
    margin-left: 25px;
}

/* ====================================
    Main
===================================== */

.hero {
    padding: 200px 0 100px;
    background: linear-gradient(to right, hsla(214,66%,57%,.8), hsla(129,76%,74%,.8)), url(../images/home-bg.jpg);
}

.hero-contain {
    margin: 30px 0 10px 0;
}

.hero-content span {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    margin-left: 20px;
}

.hero-content .btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.hero-video iframe {
    width: 100%;
}

.skills {
    margin-top: 60px;
    padding-bottom: 0;
}

.skills-content {
    padding-right: 60px;
    margin-bottom: 50px;
}

.skills-content p {
    margin: 20px 0;
}

.skill {
    margin-bottom: 20px;
}

.progress::before {
    display: inline-block;
    content: '';
    height: 4px;
    background-color: #000;
}

.perc-85::before {
    width: 85%;
}

.perc-90::before {
    width: 90%;
}

.perc-75::before {
    width: 75%;
}

.perc-70::before {
    width: 70%;
}

.profile img {
    width: 100%;
    height: 100%;
}

.blogs {
    background-color: hsl(0,0%,94%);
    padding: 40px;
}

.blog {
    background-color: #fff;
    margin: 60px 0 0;
    box-shadow: 0 0 5px 2px rgba(109, 108, 108, 0.082);
}

.blog img {
    float: left;
    width: 40%;
    height: 100%;
}

.blog-content {
    width: 60%;
    float: right;
    padding: 50px 20px;
}

.blog-content * {
    margin: 12px auto;
}

.published {
    font-weight: 700;
    font-size: 16px;
    color: hsl(1,61%,52%);
}

.blog-content p {
    font-weight: 400;
    font-size: 18px;
    color: hsl(0,0%,57%);
}

.works {
    padding: 40px 0;
}

.work-list {
    margin: 40px 0;
}

.work-list img {
    width: 100%;
}

.reach-us {
    background-image: linear-gradient(to right, hsl(211,85%,48%), hsl(119,66%,67%));
    padding: 40px 0 10px;
}

.contact {
    margin: 50px 0 20px;
}

input,
textarea {
    font: inherit;
    font-size: 18px;
    color: rgba(114, 111, 111, 0.432);
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 16px;
    width: 48%;;
}

input:nth-child(even) {
    margin-left: 3.5%;
}

textarea {
    width: 100%;
}

.button {
    padding: 16px 50px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.map iframe {
    float: right;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 30px auto;
}

/* ====================================
    Footer
===================================== */

footer {
    padding: 60px 0;
    color: #fff;
    background-image: linear-gradient(to right, hsl(0,0%,25%), hsl(0,0%,3%));
}

.about-company {
    padding: 0 60px 0 0;
}

.about-company h2,
.footer-content h3,
.about-company p {
    color: #fff;
    margin-bottom: 15px;
}

.footer-content li {
    margin-bottom: 8px;
}

.about-company p,
.footer-content li a {
    font-size: 18px;
    font-weight: 400;
}

hr {
    border-color: rgba(128, 128, 128, 0.473);
}

.copy-right {
    margin-top: 30px;
}

.footer-nav li {
    margin-left: 30px;
    font-size: 16px;
}

.copy-right small,
.footer-nav a {
    font-size: 16px;
}